<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<!--<div class="container body-content">-->
<!--    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>-->
<!--</div>-->
    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing">
         <th:block th:each="jobs : ${jobs}">
                <tr>
                <td th:each="item : ${jobs}"></td>
                <td th:text = "${item}"></td>
                </tr>
         <th:block>
    </table>
</body>
</html>